<launch>

    <!-- nav -->
    <node name="emily_nav" pkg="emily_nav" type="xsens2nav.py" output="screen">
         <!--set topics input and outputs-->
        <!-- drive way to the lab -->
        <!--55.911960, -3.322801-->
        <param name="origin/latitude" value="55.911960"/>
        <param name="origin/longitude" value="-3.322801"/>
        <param name="wait_for_GPS" type="bool" value="false"/>
        <param name="zero_pitch_roll" type="bool" value="false"/>
    </node>

    <!-- imu driver -->
	<include file="$(find emily)/launch/imu.launch"/>

</launch>
