<launch>

    <!-- nav -->
    <node name="emily_nav" pkg="emily_nav" type="xsens2nav.py" output="screen">
         set topics input and outputs
        <param name="origin/latitude" value="0"/>
        <param name="origin/longitude" value="0"/>
    </node>

    <!-- imu driver -->
	<include file="$(find emily)/launch/imu.launch"/>

</launch>
