<launch>

    <!-- rviz -->
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find asv_pilot)/conf/nav_sim.rviz"/>-->

    <!-- uwsim -->
    <node name="uwsim" pkg="uwsim" type="uwsim" args="--dataPath $(find asv_pilot) --configfile $(find asv_pilot)/data/wavetank.xml" output="screen"/>


</launch>
