<launch>
    <!-- start the pilot -->
    <node name="emily_pilot" pkg="asv_pilot" type="asv_pilot.py" output="screen">
        <!-- this is out here so that the controller config can be reloaded on the fly-->
        <rosparam command="load" file="$(find asv_pilot)/conf/pid_sim.yaml" />

        <!-- set input topics -->
        <param name="topic_position_request" value="emily/pilot/position_req"/>
        <param name="topic_geo_request" value="emily/pilot/geo_req"/>
        <param name="topic_velocity_request" value="emily/pilot/velocity_req"/>
        <param name="topic_nav" value="emily/nav/nav_sts"/>

        <!-- set output topics-->
        <param name="topic_throttle" value="emily/motors/throttle"/>
        <param name="topic_pilot_status" value="emily/pilot/status"/>
        <!--<param name="simulation" value="1"/>-->
    </node>

    <!-- start the thruster sim -->
    <node name="emily_thruster_sim" pkg="asv_pilot" type="thruster_sim.py">
        <!-- set topics input and outputs -->
        <param name="topic_force" value="emily/forces/sim/body"/>
        <param name="topic_throttle" value="emily/motors/throttle"/>
    </node>

    <!-- default args -->
    <arg name="verbose" default="false" />

    <!-- load the simulation config -->
    <rosparam command="load" file="$(find asv_pilot)/conf/simulation_nav.yaml"/>
    <rosparam command="load" file="$(find asv_pilot)/conf/simulation_model.yaml"/>

    <!--<param name="robot_description" command="cat $(find asv_pilot)/data/rviz_emily.urdf"/>-->

    <!-- start the navigation simulator -->
    <node name="emily_nav_sim" pkg="vehicle_core" type="node_nav_sim.py" output="screen">
        <!-- sim_rate: publish rate of nav messages (default: 20 Hz) -->
        <param name="sim_rate" value="20"/>
        <param name="pub_rate" value="10"/>

        <param name="verbose" value="$(arg verbose)" type="bool"/>

        <param name="topic_nav" value="emily/nav/nav_sts"/>
        <param name="topic_forces" value="emily/forces/sim/body"/>

        <!-- odometry configuration (defaults are used for single vehicle operations) -->
        <param name="topic_odom" value="emily/nav/odometry"/>
        <param name="frame_parent" value="world"/>
        <param name="frame_odom" value="map"/>
        <param name="frame_child" value="base_link"/>
    </node>

</launch>
