<launch>
    <!-- load the 3D model -->
    <param name="robot_description" command="cat $(find asv_pilot)/data/rviz_emily.urdf"/>

    <!-- uwsim -->
    <!--not operational yet-->
    <node name="uwsim" pkg="uwsim" type="uwsim" args="--dataPath $(find asv_pilot) --configfile $(find asv_pilot)/data/wavetank.xml" output="screen"/>

</launch>
